{
    "extends": ["airbnb", "prettier", "prettier/react"],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "plugins": ["prettier"],
    "rules": {
        "arrow-body-style": "off",
        "block-scoped-var": "warn",
        "camelcase": "warn",
        "comma-dangle": "off",
        "curly": "warn",
        "eqeqeq": "off",
        "global-require": "off",
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
        "indent": ["error", 4],
        "new-cap": "off",
        "no-alert": "off",
        "no-bitwise": "off",
        "no-empty": "warn",
        "no-eq-null": "off",
        "no-invalid-regexp": "error",
        "no-multiple-empty-lines": ["warn", { "max": 1 }],
        "no-obj-calls": "error",
        "no-shadow": "off",
        "no-underscore-dangle": ["error", { "allow": ["__REDUX_DEVTOOLS_EXTENSION__"] }],
        "no-unreachable": "error",
        "no-unused-expressions": ["error", { "allowTaggedTemplates": true }],
        "no-unused-vars": "off",
        "no-use-before-define": "off",
        "strict": "error",
        "no-undef": "warn",
        "no-new": "warn",
        "no-extra-semi": "warn",
        "no-debugger": "error",
        "no-caller": "warn",
        "quotes": "off",
        "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
        "react/jsx-one-expression-per-line": "off",
        "semi": "warn"
    },
    "env": {
        "browser": true,
        "es6": true,
        "jest": true,
        "mocha": true,
        "node": true
    }
}
