# Cruft
*~
*#
.#*
.DS_Store

# Test
coverage
.eslintcache

# Laravel 5.7.*
/.vagrant
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
.env
Homestead.json
Homestead.yaml
composer.lock
composer.phar

# IDE and Editors
/.vscode
/nbproject
*.sublime-project
*.sublime-workspace
.idea
.brackets.json
.project
_notes
packages/api/etc/

# npm & yarn
.npm
.yarn-integrity
node_modules/
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
yarn.lock*

# Compiled sources
*.com
*.class
*.dll
*.exe
*.log
*.o
*.so
error_log/
npm-debug.log*

# Generated
dist/admin/**
dist/assets/css/**
dist/assets/html/**
dist/assets/img/**
dist/assets/js/**
dist/assets/uploads/**

# Gitkeep
!**/.gitkeep
